<div class="row" *ngIf="membersList$ | async as membersList; else hasNoMembers">
  <div *ngFor="let member of membersList" class="col-lg-4 col-md-6 col-sm-6">
    <member-detail [familyMember]="member"></member-detail>
  </div>
</div>
<ng-template #hasNoMembers>
  <div *ngIf="!resolved" class="contatiner mt-3">
    <loading></loading>
  </div>
  <div *ngIf="resolved" class="contatiner mt-3">
    <div class="row text-center">
      <h4 class="display-6">Nenhum membro encontrado</h4>
    </div>
  </div>
</ng-template>
