<div *ngIf="accountCategoryList$ | async as accountCategoryList; else empty">
  <div *ngIf="accountCategoryList.length > 0; else empty">
    <div class="row text-center">
      <div class="col-lg-9 col-md-10 col-sm-12">
        <input
          type="text"
          placeholder="filtrar"
          class="form-control"
          [(ngModel)]="filterText"
        />
      </div>
    </div>
    <div class="row crudTableContainer mt-1">
      <div class="col-12">
        <table class="table table-hover">
          <tbody>
            <tr
              class="crudTableRow"
              *ngFor="
                let accountCategory of accountCategoryList
                  | filterTable: filterText
              "
            >
              <td (click)="show(accountCategory)">
                <a>
                  {{ accountCategory.description }}
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #empty>
  <div *ngIf="!resolved" class="container mt-3">
    <loading></loading>
  </div>
  <div *ngIf="resolved" class="container mt-3">
    <div class="row text-center">
      <h4 class="display-6">Não há categorias de conta cadastradas</h4>
    </div>
  </div>
</ng-template>
