<div class="container">
  <div class="row mt-2 mb-3">
    <div class="col-12">
      <h3 class="display-6">Contas</h3>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="row">
        <div class="col-12">
          <a (click)="new()">
            <fa-icon [icon]="faCirclePlus" size="3x" class="text-primary">
            </fa-icon>
          </a>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <account-list></account-list>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-6 col-sm-12">
      <account-detail></account-detail>
    </div>
  </div>
</div>
