<div *ngIf="postingCategoryList$ | async as postingCategoryList">
  <label
    for="postingCateegory"
    [class]="layoutUtil.getClassForLabelSize(this.size)"
    >Categoria de lançamento</label
  >
  <select
    [class]="layoutUtil.getClassForSelectSize(this.size)"
    [(ngModel)]="selectedId"
    [disabled]="disabled"
    id="postingCategory"
    (ngModelChange)="onPostingCategorySelected($event)"
  >
    <option value="0">Selecione...</option>
    <option
      *ngFor="let postingCategory of postingCategoryList"
      [value]="postingCategory.id"
    >
      {{ postingCategory.description }}
    </option>
  </select>
</div>
