<div *ngIf="postingGroupList$ | async as postingGroupList">
  <label
    *ngIf="!noLabel"
    for="postingGroup"
    [class]="layoutUtil.getClassForLabelSize(this.size)"
    >Agrupador de lançamento</label
  >
  <select
    [class]="layoutUtil.getClassForSelectSize(this.size)"
    [(ngModel)]="selectedId"
    [disabled]="disabled"
    id="postingGroup"
    (ngModelChange)="onPostingGroupSelected($event)"
  >
    <option value="0">Selecione...</option>
    <option
      *ngFor="let postingGroup of postingGroupList"
      [value]="postingGroup.id"
    >
      {{ postingGroup.description }}
    </option>
  </select>
</div>
